{% extends "admin/change_form.html" %}

{% block object-tools-items %}
  {{ block.super }}
  {% if change and entity_run_import_url %}
    <li>
      <form method="post" action="{{ entity_run_import_url }}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="button">Lancer import</button>
      </form>
    </li>
  {% endif %}
  {% if change and entity_data_url %}
    <li><a href="{{ entity_data_url }}" class="button">Voir données</a></li>
  {% endif %}
{% endblock %}
