{% extends "admin/change_form.html" %}

{% block after_related_objects %}
  {{ block.super }}
  {% if change and run_import_url %}
    <fieldset class="module aligned">
      <h2>Lancer import</h2>
      <form method="post" action="{{ run_import_url}">
        {% csrf_token %}
        <div class="form-row">
          <label for="id_mode"><strong>Mode</strong></label>
          <select name="mode" id="id_mode">
            <option value="upsert" selected>upsert</option>
            <option value="full">full</option>
          </select>
        </div>
        <div class="form-row">
          <label for="id_ngsild_limit"><strong>Limit</strong></label>
          <input type="number" id="id_ngsild_limit" name="ngsild_limit" min="1" max="5000" value="{{ run_import_default_limit|default:500 }}" />
        </div>
        <div class="submit-row">
          <input type="submit" value="Lancer import" class="default" />
        </div>
      </form>
    </fieldset>
  {% endif %}
{% endblock %}

